* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
  list-style: none;
  text-decoration: none;
  scroll-behavior: smooth;
}

body {
  font-family: "Montserrat", sans-serif;
  font-size: 62.5%;
}

.header {
  position: absolute;
  top: 40%;
  left: 50%;
  transform: translate(-50%, -50%);
  text-align: center;
  color: #fff;
  user-select: none;
}
.header__subtitle {
  font-size: 2rem;
  font-weight: 400;
  text-transform: uppercase;
  letter-spacing: 1rem;
  animation-name: moveInLeft;
  animation-duration: 1s;
  animation-timing-function: ease-out;
}
.header__title {
  font-size: 15rem;
  background-clip: text;
  background: linear-gradient(to top right, rgb(201, 196, 196) 1%, #fff 99%);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  font-family: "Kaushan Script", cursive;
  letter-spacing: 1rem;
  animation-name: moveInRight;
  animation-duration: 1s;
  animation-timing-function: ease-out;
}

.section__header {
  text-align: center;
  margin-bottom: 3rem;
}
.section__header--subtitle {
  font-size: 1.2rem;
  text-transform: uppercase;
  letter-spacing: 0.4rem;
  color: #474747;
}
.section__header--title {
  color: #2d2d2d;
  font-size: 1.8rem;
  margin-top: 1rem;
}

.activity__details {
  position: absolute;
  bottom: 5%;
  left: 5%;
  z-index: 1;
  display: flex;
  flex-direction: column;
  gap: 0.4rem;
}
.activity__details--name {
  color: #fff;
  font-size: 1.3rem;
  text-transform: capitalize;
  font-weight: 600;
}
.activity__details--des {
  font-size: 1rem;
  color: #9b9b9b;
}

.philosophy__details .number {
  color: #9b9b9b;
  align-self: flex-start;
  font-size: 1.3rem;
}
.philosophy__details__text--title {
  font-size: 1.4rem;
  text-transform: capitalize;
  margin-bottom: 1rem;
}
.philosophy__details__text--des {
  font-size: 1rem;
  line-height: 2rem;
  color: #6d6d6d;
}

.hotel__details .hotel-name {
  font-size: 1.4rem;
  margin-bottom: 0.5rem;
}
.hotel__details--price {
  font-size: 1rem;
  color: #6d6d6d;
}

.review__message {
  font-family: "Roboto", sans-serif;
}
.review__message--icon {
  font-size: 2rem;
  color: #ff9921;
}
.review__message--text {
  font-size: 1rem;
  line-height: 2rem;
  color: #6d6d6d;
  margin: 1rem 0;
}
.review__details {
  color: #fff;
}
.review__details .name {
  font-size: 1.2rem;
  margin-bottom: 0.8rem;
}
.review__details .company {
  font-size: 0.8rem;
}

.footer__credentials {
  font-family: "Manrope", sans-serif;
}
.footer__credentials .copyrights {
  font-size: 0.8rem;
}

.u-flex-align-center {
  display: flex;
  align-items: center;
}

.u-sections-padding {
  padding: 5rem 2rem;
}

.u-flex-center {
  display: flex;
  align-items: center;
  justify-content: space-evenly;
}

@keyframes moveInLeft {
  0% {
    opacity: 0;
    transform: translateX(-10rem);
  }
  80% {
    transform: translateX(1rem);
  }
  100% {
    opacity: 1;
    transform: translate(0);
  }
}
@keyframes moveInRight {
  0% {
    opacity: 0;
    transform: translateX(10rem);
  }
  80% {
    transform: translateX(-1rem);
  }
  100% {
    opacity: 1;
    transform: translate(0);
  }
}
@keyframes moveInUp {
  0% {
    opacity: 0;
    transform: translateY(1rem);
  }
  100% {
    opacity: 1;
    transform: translateY(0);
  }
}
.hero {
  height: 100vh;
  position: relative;
}
.hero .overlay {
  position: absolute;
  width: 100%;
  height: 100%;
  background: linear-gradient(to bottom, rgba(0, 0, 0, 0.35), transparent);
}

.navigation {
  position: absolute;
  width: 100%;
  color: #fff;
  padding: 1rem;
  justify-content: space-between;
}

.logo__box__img {
  width: 2.2rem;
}
.logo__box__text {
  font-size: 1rem;
  margin-left: 0.7rem;
  color: #fff;
  font-weight: 600;
}

.items {
  margin: 0 2rem;
  font-size: 1rem;
  font-weight: 600;
  text-transform: capitalize;
  cursor: pointer;
  color: #fff;
  position: relative;
}
.items::before {
  content: "";
  position: absolute;
  bottom: -15%;
  left: 0;
  width: 0;
  height: 0.1rem;
  background-color: #fff;
  transition: all 0.2s ease-in;
}
.items:hover::before {
  width: 100%;
}

.wrapper {
  width: 80%;
  margin: auto;
  gap: 1rem;
}

.reviews {
  margin: 3rem 0;
  padding: 3rem;
  background: url("/assets/background-image-4.jpg");
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  height: 30rem;
  gap: 2rem;
  border-radius: 1rem;
}

.footer {
  background-color: #f4f4f4;
  padding: 3rem;
}
.footer__logo {
  display: flex;
  align-items: center;
  justify-content: center;
  background: url("../../assets/logo footer.png");
  background-repeat: no-repeat;
  background-position: center;
  height: 5rem;
}
.footer__logo--img {
  margin-left: 0.4rem;
}
.footer__header {
  text-align: center;
}
.footer .line {
  width: 80%;
  height: 0.1rem;
  margin: 2rem auto;
  background-color: #9b9b9b;
}
.footer__credentials {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.backgrounds {
  width: 100%;
  height: 100%;
}
.backgrounds__img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  object-position: center;
}

.backgrounds__detail {
  position: absolute;
  bottom: 3%;
  right: 3%;
  color: #9b9b9b;
}
.backgrounds__detail .starter {
  color: #fff;
  font-size: 1.7rem;
}
.backgrounds__detail .backgrounds__detail--text {
  font-size: 1.2rem;
}

.socials {
  position: absolute;
  top: 50%;
  left: 3%;
  height: 10%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  transform: translate(-50%, -50%);
}
.socials__icon {
  animation: moveInUp 1s ease-in 1;
  transition: all 0.2s ease-in;
}
.socials__icon:hover {
  transform: translateY(-0.2rem);
}
.socials__icon:nth-child(2) {
  animation-delay: 0.2s;
}
.socials__icon:nth-child(3) {
  animation-delay: 0.4s;
}
.socials__icon img {
  width: 1rem;
}

.backgrounds__bar {
  position: absolute;
  right: 4%;
  top: 35%;
  border-radius: 2rem;
  overflow: hidden;
  height: 30%;
}
.backgrounds__bar .bar {
  width: 0.2rem;
  height: 100%;
  background-color: #9b9b9b;
  position: relative;
}
.backgrounds__bar .bar .scrollbar {
  position: absolute;
  width: 100%;
  top: 0;
  height: 14.2857142857%;
  background-color: #fff;
  cursor: pointer;
  transition: all 0.5s ease-in;
}

.destinations {
  position: absolute;
  bottom: 0;
  left: 50%;
  width: 50%;
  transform: translate(-50%, -50%);
  gap: 1rem;
}

.destination {
  background-color: rgba(255, 255, 255, 0.1);
  flex: 1;
  gap: 1rem;
  padding: 1rem;
  border-radius: 0.4rem;
}
.destination__details {
  display: flex;
  flex-direction: column;
}
.destination__details--name {
  color: #fff;
  font-size: 1rem;
  text-transform: capitalize;
  font-weight: 700;
}
.destination__details--detail {
  color: #9b9b9b;
  font-size: 1rem;
}

.activity {
  width: 22rem;
  height: 32rem;
  border-radius: 1rem;
  overflow: hidden;
  position: relative;
}
.activity__img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  object-position: center;
  -o-object-fit: cover;
  -o-object-position: center;
  transition: all 0.2s ease-in;
}
.activity__img:hover {
  transform: scale(1.1);
}

.philosophy__details {
  gap: 2rem;
  padding: 0 2rem;
  margin: 3rem 0;
}

.hotel .hotel__details {
  margin-top: 1rem;
}
.hotel .hotel__details__rank {
  display: flex;
  align-items: center;
  gap: 2rem;
}
.hotel__image {
  border-radius: 1rem;
  overflow: hidden;
}
.hotel__image img {
  transition: all 0.2s ease-in;
}
.hotel__image img:hover {
  transform: scale(1.1);
}

.review {
  display: flex;
  flex-direction: column;
  gap: 3rem;
}
.review__message {
  background-color: #fff;
  padding: 3rem;
  border-radius: 0.8rem;
  position: relative;
}
.review__message::before {
  content: "";
  position: absolute;
  bottom: -10%;
  left: 7%;
  width: 2.4rem;
  height: 1.6rem;
  background-color: #fff;
  clip-path: polygon(0 0, 53% 100%, 100% 0);
}
.review__details {
  display: flex;
  align-items: center;
  gap: 1rem;
  width: 90%;
  margin: auto;
}

.footer__items {
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  width: 50%;
  margin: 2rem auto;
}
.footer__items--item {
  font-size: 1rem;
  text-transform: capitalize;
  cursor: pointer;
  transition: all 0.2s ease-in;
  background-color: #f4f4f4;
  padding: 0.3rem;
}
.footer__items--item:hover {
  transform: scale(1.1) skew(20deg);
  box-shadow: 0 0 1rem 0.08rem rgba(0, 0, 0, 0.35);
}

.footer__socials {
  width: 10%;
  justify-content: space-between;
}
.footer__socials--social {
  background-color: #9b9b9b;
  color: #2d2d2d;
  padding: 0.3rem 0.5rem;
  border-radius: 100%;
  font-size: 0.8rem;
}

/*# sourceMappingURL=style.css.map */
