// COLORS
$color-white: #fff;
$color-black: #2d2d2d;
$color-black-2: #3d3d3d;
$color-black-3: #474747;
$color-gray: #9b9b9b;
$color-gray-2: #6d6d6d;
$color-orange: #ff9921;
$color-overlay-1: rgba(0, 0, 0, 0.35);
$color-overlay-2: rgba(0, 0, 0, 0);

// FONTS
$light-font: 400;
$regular-font: 400;
$semi-bold: 600;
$bold-font: 700;
$script-font-family: "Kaushan Script", cursive;
$roboto-font-family: "Roboto", sans-serif;

// NUMBERS
$total-backgrounds-number: 7;
