.reviews {
  margin: 3rem 0;
  padding: 3rem;
  background: url("/assets/background-image-4.jpg");
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  height: 30rem;
  gap: 2rem;
  border-radius: 1rem;
}
