.reviews {
  margin: 3rem 0;
  padding: 3rem;
  background: url("/assets/background-image-4.jpg");
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  gap: 2rem;
  border-radius: 1rem;
  flex-wrap: wrap;
  justify-content: center;
}

@media screen and (max-width: 550px) {
  .reviews {
    padding: 1rem;
  }
}
