.backgrounds__bar {
  position: absolute;
  right: 4%;
  top: 35%;
  border-radius: 2rem;
  overflow: hidden;
  height: 30%;

  .bar {
    width: 0.2rem;
    height: 100%;
    background-color: $color-gray;
    position: relative;

    .scrollbar {
      position: absolute;
      width: 100%;
      top: 0;
      height: calc(100% / $total-backgrounds-number);
      background-color: $color-white;
      cursor: pointer;

      transition: all 0.5s ease-in;
    }
  }
}
