body {
  font-family: "Montserrat", sans-serif;
  font-size: 62.5%;
  //   font-family: "Manrope", sans-serif;
}

.header {
  position: absolute;
  top: 40%;
  left: 50%;
  transform: translate(-50%, -50%);
  text-align: center;
  color: $color-white;

  user-select: none;

  &__subtitle {
    font-size: 2rem;
    font-weight: $light-font;
    text-transform: uppercase;
    letter-spacing: 1rem;

    animation-name: moveInLeft;
    animation-duration: 1s;
    animation-timing-function: ease-out;
  }

  &__title {
    font-size: 15rem;
    background-clip: text;
    background: linear-gradient(
      to top right,
      rgb(201, 196, 196) 1%,
      $color-white 99%
    );
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    font-family: $script-font-family;
    letter-spacing: 1rem;

    animation-name: moveInRight;
    animation-duration: 1s;
    animation-timing-function: ease-out;
  }
}

.section__header {
  text-align: center;
  margin-bottom: 3rem;

  &--subtitle {
    font-size: 1.2rem;
    text-transform: uppercase;
    letter-spacing: 0.4rem;
    color: $color-black-3;
  }

  &--title {
    color: $color-black;
    font-size: 1.8rem;
    margin-top: 1rem;
  }
}

.activity {
  &__details {
    position: absolute;
    bottom: 5%;
    left: 5%;
    z-index: 1;
    display: flex;
    flex-direction: column;
    gap: 0.4rem;

    &--name {
      color: $color-white;
      font-size: 1.3rem;
      text-transform: capitalize;
      font-weight: $semi-bold;
    }

    &--des {
      font-size: 1rem;
      color: $color-gray;
    }
  }
}

.philosophy__details {
  .number {
    color: $color-gray;
    align-self: flex-start;
    font-size: 1.3rem;
  }

  &__text {
    &--title {
      font-size: 1.4rem;
      text-transform: capitalize;
      margin-bottom: 1rem;
    }

    &--des {
      font-size: 1rem;
      line-height: 2rem;
      color: $color-gray-2;
    }
  }
}

.hotel__details {
  .hotel-name {
    font-size: 1.4rem;
    margin-bottom: 0.5rem;
  }

  &--price {
    font-size: 1rem;
    color: $color-gray-2;
  }
}

.review {
  &__message {
    font-family: $roboto-font-family;
    &--icon {
      font-size: 2rem;
      color: $color-orange;
    }

    &--text {
      font-size: 1rem;
      line-height: 2rem;
      color: $color-gray-2;
      margin: 1rem 0;
    }
  }

  &__details {
    color: $color-white;
    .name {
      font-size: 1.2rem;
      margin-bottom: 0.8rem;
    }

    .company {
      font-size: 0.8rem;
    }
  }
}
