.u-flex-align-center {
  display: flex;
  align-items: center;
}

.u-sections-padding {
  padding: 5rem 2rem;
}

.u-flex-center {
  display: flex;
  align-items: center;
  justify-content: space-evenly;
}
